{% load static %}

<html>
    <head>
        <title>homeb</title>
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'logout_view' %}" class="top-menu"><span class="glyphicon glyphicon-plus">logout</span></a>
            <!-- <link rel="stylesheet" href="{% static 'css/homeb.css' %}"> -->
            <a href="/">main</a>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>

