
{% extends 'homeb_app/base.html' %}
{% block content %}


<div class="main_table"></div>
    <table>
        <tr>
            <center><b>last year</b></center>
            <td width="500"></td>
            <td width="500" height="30">{{ totals.0 }}</td>
            <td width="500" height="30">{{ totals.15 }}</td>
            <td width="500" height="30">{{ totals.30 }}</td>
            <td width="500" height="30">{{ totals.45 }}</td>
            <td width="500" height="30">{{ totals.60 }}</td>
            <td width="500" height="30">{{ totals.75 }}</td>
            <td width="500" height="30">{{ totals.90 }}</td>
            <td width="500" height="30">{{ totals.105 }}</td>
            <td width="500" height="30">{{ totals.120 }}</td>
            <td width="500" height="30">{{ totals.135 }}</td>
            <td width="500" height="30">{{ totals.150 }}</td>
            <td width="500" height="30">{{ totals.165 }}</td>
        </tr>
        <tr>
            <td width="500" height="30">{{ totals.1 }}</td>
            <td width="500" height="30">{{ totals.2 }}</td>
            <td width="500" height="30">{{ totals.17 }}</td>
            <td width="500" height="30">{{ totals.32 }}</td>
            <td width="500" height="30">{{ totals.47 }}</td>
            <td width="500" height="30">{{ totals.62 }}</td>
            <td width="500" height="30">{{ totals.77 }}</td>
            <td width="500" height="30">{{ totals.92 }}</td>
            <td width="500" height="30">{{ totals.107 }}</td>
            <td width="500" height="30">{{ totals.122 }}</td>
            <td width="500" height="30">{{ totals.137 }}</td>
            <td width="500" height="30">{{ totals.152 }}</td>
            <td width="500" height="30">{{ totals.167 }}</td>
        </tr>
        <tr>
            <td width="500" height="30">{{ totals.3 }}</td>
            <td width="500" height="30">{{ totals.4 }}</td>
            <td width="500" height="30">{{ totals.19 }}</td>
            <td width="500" height="30">{{ totals.34 }}</td>
            <td width="500" height="30">{{ totals.49 }}</td>
            <td width="500" height="30">{{ totals.64 }}</td>
            <td width="500" height="30">{{ totals.79 }}</td>
            <td width="500" height="30">{{ totals.94 }}</td>
            <td width="500" height="30">{{ totals.109 }}</td>
            <td width="500" height="30">{{ totals.124 }}</td>
            <td width="500" height="30">{{ totals.139 }}</td>
            <td width="500" height="30">{{ totals.154 }}</td>
            <td width="500" height="30">{{ totals.169 }}</td>
        </tr>
        <tr>
            <td width="500" height="30">{{ totals.5 }}</td>
            <td width="500" height="30">{{ totals.6 }}</td>
            <td width="500" height="30">{{ totals.21 }}</td>
            <td width="500" height="30">{{ totals.36 }}</td>
            <td width="500" height="30">{{ totals.51 }}</td>
            <td width="500" height="30">{{ totals.66 }}</td>
            <td width="500" height="30">{{ totals.81 }}</td>
            <td width="500" height="30">{{ totals.96 }}</td>
            <td width="500" height="30">{{ totals.111 }}</td>
            <td width="500" height="30">{{ totals.126 }}</td>
            <td width="500" height="30">{{ totals.141 }}</td>
            <td width="500" height="30">{{ totals.156 }}</td>
            <td width="500" height="30">{{ totals.171 }}</td>
        </tr>
        <tr>
            <td width="500" height="30">{{ totals.7 }}</td>
            <td width="500" height="30">{{ totals.8 }}</td>
            <td width="500" height="30">{{ totals.23 }}</td>
            <td width="500" height="30">{{ totals.38 }}</td>
            <td width="500" height="30">{{ totals.53 }}</td>
            <td width="500" height="30">{{ totals.68 }}</td>
            <td width="500" height="30">{{ totals.83 }}</td>
            <td width="500" height="30">{{ totals.98 }}</td>
            <td width="500" height="30">{{ totals.113 }}</td>
            <td width="500" height="30">{{ totals.128 }}</td>
            <td width="500" height="30">{{ totals.143 }}</td>
            <td width="500" height="30">{{ totals.158 }}</td>
            <td width="500" height="30">{{ totals.173 }}</td>
        </tr>
        <tr>
            <td width="500" height="30">{{ totals.9 }}</td>
            <td width="500" height="30">{{ totals.10 }}</td>
            <td width="500" height="30">{{ totals.25 }}</td>
            <td width="500" height="30">{{ totals.40 }}</td>
            <td width="500" height="30">{{ totals.55 }}</td>
            <td width="500" height="30">{{ totals.70 }}</td>
            <td width="500" height="30">{{ totals.85 }}</td>
            <td width="500" height="30">{{ totals.100 }}</td>
            <td width="500" height="30">{{ totals.115 }}</td>
            <td width="500" height="30">{{ totals.130 }}</td>
            <td width="500" height="30">{{ totals.145 }}</td>
            <td width="500" height="30">{{ totals.160 }}</td>
            <td width="500" height="30">{{ totals.175 }}</td>
        </tr>
        <tr>
            <td width="500" height="30">{{ totals.11 }}</td>
            <td width="500" height="30">{{ totals.12 }}</td>
            <td width="500" height="30">{{ totals.27 }}</td>
            <td width="500" height="30">{{ totals.42 }}</td>
            <td width="500" height="30">{{ totals.57 }}</td>
            <td width="500" height="30">{{ totals.72 }}</td>
            <td width="500" height="30">{{ totals.87 }}</td>
            <td width="500" height="30">{{ totals.102 }}</td>
            <td width="500" height="30">{{ totals.117 }}</td>
            <td width="500" height="30">{{ totals.132 }}</td>
            <td width="500" height="30">{{ totals.147 }}</td>
            <td width="500" height="30">{{ totals.162 }}</td>
            <td width="500" height="30">{{ totals.177 }}</td>
        </tr>
        <tr>
            <td width="500" height="30">{{ totals.13 }}</td>
            <td width="500" height="30">{{ totals.14 }}</td>
            <td width="500" height="30">{{ totals.29 }}</td>
            <td width="500" height="30">{{ totals.44 }}</td>
            <td width="500" height="30">{{ totals.59 }}</td>
            <td width="500" height="30">{{ totals.74 }}</td>
            <td width="500" height="30">{{ totals.89 }}</td>
            <td width="500" height="30">{{ totals.104 }}</td>
            <td width="500" height="30">{{ totals.119 }}</td>
            <td width="500" height="30">{{ totals.134 }}</td>
            <td width="500" height="30">{{ totals.149 }}</td>
            <td width="500" height="30">{{ totals.164 }}</td>
            <td width="500" height="30">{{ totals.179 }}</td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <!--<p><b>last 5</b></p>-->
                <td>
                    <b><u>dodaj zakup</u></b>
                    <form method="POST" class="post-form">{% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="save btn btn-default">Dodaj</button>
                    </form>
                </td>
                
            <style>td {
               border: 3px solid black; 
            }
            </style>
            {% for l in last %}
            <td valign="top">
                <b><u>last 5</u></b><br><br>
                <b>nazwa: <a href="{% url 'zakup_detail' pk=l.pk %}">{{ l.name }}</a></b><br><br>
                kategoria: {{ l.category }}<br><br>
                <!-- <p>cena: {{ l.price }}</p> -->
                <!-- <td><p>ilosc: {{ l.quantity }}</p></td> -->
                suma: {{ l.amount }}<br><br>
                miesiac: {{ l.month }}<br><br>
                rok: {{ l.year }}<br><br>
                data dodania: {{ l.date }}
            </td>
            {% endfor %}
        </tr>
        <tr>
            <td valign="top">
                <b><u>wydales dzis:</u></b><br><br>
                &nbsp; {{ day_sum }} zl
            </td>
            <td valign="top">
                <b><u>wydales w tym mc:</u></b><br><br>
                &nbsp; {{ month_sum }} zl
            </td>
        </tr>
    </table>
</div>
{% endblock %}


