{% extends 'homeb_app/base.html' %}
    {% block content %}
        {% for l in last %}
        <div class="post">
            <div class="date">
                <p>data dodania: {{ l.date }}</p>
            </div>
            <h1><a href="{% url 'zakup_detail' pk=l.pk %}">{{ l.name }}</a></h1>
                <p>kategoria: {{ l.category }}</p>
                <p>nazwa: {{ l.name }}</p>
                <p>cena: {{ l.price }}</p>
                <p>ilosc: {{ l.quantity }}</p>
                <p>suma: {{ l.amount }}</p>
                <p>miesiac: {{ l.month }}</p>
                <p>rok: {{ l.year }}</p>
            </div>
        {% endfor %}
    {% endblock %}    