{% extends 'homeb_app/base.html' %}

{% block content %}
<a href="{% url 'zakup_day_detail'  %}"> day detail </a>&nbsp
    <b><center>last month</center></b>
    <table>
        <tr>
            {% for month_detail in month_details %}
                <td>
                    <div class="post">
                        <p><b>nazwa: <a href="{% url 'zakup_detail' pk=month_detail.pk %}">{{ month_detail.name }}</a></b></p>
                        <p>kategoria: {{ month_detail.category__name }}&nbsp;&nbsp;&nbsp;</p>
                        <p>miesiac: {{ month_detail.month__name }}</p>
                        <p>cena: {{ month_detail.price }}</p>
                        <p>ilosc: {{ month_detail.quantity }}</p>
                        <p>suma: {{ month_detail.total }}</p>
                        <form method="POST" class="post-form" action="{% url 'zakup_delete'  month_detail.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default">delete</button>
                        </form>
                    </div>
                </td>
            {% if forloop.counter|divisibleby:10 %}
                </tr>
                <tr>
            {% endif %}
        {% endfor %}
        </tr>
    </table>
    {% endblock %}
  